.fruit-slider-wrap {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url("../img/bg/bg-two-whater.jpg");
  overflow: hidden;

  @include retina {
    background-image: url("../img/bg/bg-two-whater@2x.jpg");
  }
}

.fruits-slider {
  position: relative;
}

.fruits-slider__list {
  width: 100%;
  display: flex;
}

.fruits-slider__item {
  width: 100%;
  display: flex;
  padding: 100px 100px 0;
  justify-content: space-between;
  flex-shrink: 0;

  @media (max-width: 1280px) {
    padding: 100px 50px 0;
  }

  @media (max-width: $viewport-m) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 100px 30px 0;
  }

  @media (max-width: $viewport-s) {
    padding: 100px 0 0;
  }
}

.fruits-slider__img-wrap {
  width: 35.52%;
  overflow: hidden;
  max-height: 800px;

  @media (max-width: $viewport-m) {
    max-height: 470px;
  }

  @media (max-width: $viewport-s) {
    width: 35%;
  }
}

.fruits-slider__img {
  height: 100%;
  object-fit: contain;
}

.fruits-slider__description {
  margin-top: 17%;
  min-width: 350px;
  text-align: center;
  font-family: "Dopestyle", "Arial", sans-serif;
  color: $color-orange;

  @media (max-width: $viewport-m) {
    margin: 50px 0 50px 0;
  }

  @media (max-width: $viewport-s) {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: initial;
  }
}

.fruits-slider__name {
  margin-right: 50px;
  font-size: Max(Min(60px, 3.3vw), 25px);
  line-height: 1;

  @media (max-width: $viewport-s) {
    margin: 0 0 20px 0;
  }
}

.fruits-slider__price {
  //font-size: 50px;
  font-size: Max(Min(50px, 2.8vw), 25px);
  line-height: 1;
  text-transform: lowercase;

  &::before {
    content: attr(data-price);
    margin-right: 20px;
  }
}

.fruits-slider__btn {
  width: 58px;
  height: 40px;
  position: absolute;
  top: 50%;

  @media (max-width: $viewport-s) {
    width: 48px;
    height: 30px;
    top: 35%;
  }
}

.btn-back {
  left: 50px;

  @media (max-width: $viewport-s) {
    left: 20px;
  }
}

.btn-next {
  left: 41.66%;
  transform: scale(-1);

  @media (max-width: $viewport-m) {
    left: initial;
    right: 50px;
  }

  @media (max-width: $viewport-s) {
    right: 20px;
  }
}

.fruits-slider__actions {
  position: absolute;
  margin-top: calc(17% + 200px);
  top: 0;
  right: 100px;
  width: Max(Min(24.74vw, 475px), 350px);
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1280px) {
    right: 50px;
  }

  @media (max-width: $viewport-m) {
    position: static;
    margin: 0 auto;
  }

  @media (max-width: $viewport-s) {
    width: 100%;
    max-width: 350px;
  }
}

.fruits-slider__count {
  display: flex;
  margin-bottom: 44px;
  align-items: center;
  font-family: "Dopestyle", "Arial", sans-serif;

  button {
    width: 30px;
    height: 30px;
    background-color: $color-orange;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Arial", sans-serif;
    font-size: 25px;
    border-radius: 3px;
  }
}

.fruits-slider__value {
  padding: 0 20px;
  text-align: center;
  color: $color-orange;
  font-size: 50px;
  line-height: 1;

  @media (max-width: $viewport-s) {
    font-size: 30px;
  }
}

.fruits-slider__buy {
  display: flex;
  width: 100%;
  justify-content: space-between;

  @media (max-width: $viewport-s) {
    justify-content: center;
  }

  button {
    width: 40%;
    min-width: 150px;
    padding: 7px 15px 10px;

    @media (max-width: $viewport-s) {
      width: auto;
      min-width: 120px;
    }
  }
}

.fruits-slider__order {
  @media (max-width: $viewport-s) {
    margin-right: 30px;
  }
}
