.main {
  position: relative;
  display: flex;
  height: 100vh;
}

.main-lime {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 47%;
}

.main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
