.modal {
  contain: strict;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  transition-property: opacity, visibility, transform;
  transition-duration: .5s;
  transform: scale3d(1.3, 1.3, 1);
  visibility: hidden;
  opacity: 0;
  z-index: 6;

  @supports (display: grid) {
    display: grid;
    place-items: center;
    justify-content: initial;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &--active {
    transform: scale3d(1, 1, 1);
    visibility: visible;
    opacity: 1;
  }
}

.modal__wrap {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition-property: visibility, opacity;
  transition-duration: .15s;
  z-index: 5;

  &--show {
    opacity: 1;
    visibility: visible;
  }
}

.scroll-lock {
  width: 100%;
  position: fixed;
  overflow-y: scroll;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
