.nav-menu-active .search-wrap {
  background-color: rgba(255, 255, 255, .4);
}

.webp .nav-menu-active .search-wrap {
  background-image: url('../img/bg/rain.webp');

  @include retina {
    background-image: url('../img/bg/rain@2x.webp');
  }
}

.no-webp .nav-menu-active .search-wrap {
  background-image: url('../img/bg/rain.png');

  @include retina {
    background-image: url('../img/bg/rain@2x.png');
  }
}

.search {
  justify-content: space-between;
  max-width: 1250px;
  padding: 0 50px;

  @media (max-width: $viewport-m) {
    padding: 0 30px;
  }

  @media (max-width: $viewport-s) {
    padding: 0 13px;
    flex-direction: column;
  }
}

.search__field {
  position: relative;
  margin-right: 20px;
  flex-grow: 1;
  height: 81px;

  @media (max-width: $viewport-m) {
    height: 55px;
  }

  @media (max-width: $viewport-s) {
    height: 40px;
    width: 100%;
    margin: 0 0 32px 0;
  }

  input {
    padding: 0 100px 0 64px;
    width: 100%;
    height: 100%;
    font-size: 35px;
    background: #FFF;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    border-radius: 20px;
    outline: none;

    @media (max-width: $viewport-m) {
      padding: 0 70px 0 30px;
      border-radius: 15px;
      font-size: 22px;
    }

    @media (max-width: $viewport-s) {
      padding: 0 40px 0 16px;
      font-size: 16px;
      border-radius: 10px;
    }

    &::placeholder {
      color: #AAA;
    }
  }

  svg {
    position: absolute;
    top: 50%;
    right: 35px;
    width: 44px;
    height: 44px;
    transform: translateY(-50%);

    @media (max-width: $viewport-m) {
      width: 25px;
      height: 25px;
      right: 25px;
    }

    @media (max-width: $viewport-s) {
      right: 16px;
      width: 14px;
      height: 14px;
    }
  }
}

.search__btn {
  padding: 10px 60px 15px;
  font-size: 42px;
  line-height: 1.33;
  border-radius: 20px;
  color: #FFF;
  background-color: #51971A;
  box-shadow: 0 0 15px rgba(0, 0, 0, .25);

  @media (max-width: $viewport-m) {
    font-size: 30px;
    line-height: 1;
    border-radius: 15px;
  }

  @media (max-width: $viewport-s) {
    border-radius: 10px;
    font-size: 20px;
  }
}
