// https://www.htmlcsscolor.com/hex/334482

$font-default: "Kurale", "Arial", sans-serif;
$color-black:                   #000;
$color-white:                   #FFF;
$focus-outline:                 #80BDFF;
//$color-default:                 #959595;
$color-link:                    #007BFF;
$bg-img:                        #DFDFDF;
$color-orange:                  #FE7A00;

$delay-default:                 .3s;
$timing-default:                cubic-bezier(.25, .1, .3, 1);

$viewport-s:                    768px;
$viewport-m:                    1024px;
$viewport-l:                    1440px;

$retina-dpi:                    144dpi;
$retina-dppx:                   1.5dppx;
