.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  padding: 0 50px;

  @media (max-width: $viewport-s) {
    padding: 0 20px;
  }
}

.content-img {
  height: 100%;
  object-fit: contain;
}

main {
  transition: filter .6s;
}

.search-menu-active main {
  filter: blur(5px);
}

.logo {
  position: absolute;
  top: 40px;
  left: 53px;
  z-index: 100;

  @media (max-width: $viewport-m) {
    top: 30px;
    left: 43px;

    img {
      width: 120px;
      height: 50px;
    }
  }

  @media (max-width: $viewport-s) {
    top: 15px;
    left: 25px;
  }
}

.btn-buy {
  font-size: 25px;
  color: #FFF;
  border-radius: 20px;

  &--red {
    background: #E21D1D;
  }

  &--green {
    background: #51971A;
  }

  @media (max-width: $viewport-s) {
    font-size: 15px;
  }
}
