.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  transition: max-width $delay-default;
  contain: content;
}

.container {
  padding: 0 50px;

  @media (max-width: $viewport-s) {
    padding: 0 20px;
  }
}

.content-img {
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
  //background-color: $bg-img;
}

