{% import 'macros.twig' as macro %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <link rel="preload" href="fonts/arimo-bold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/arimo-regular.woff2" as="font" crossorigin="anonymous">
  {% block head %}
    <link rel="stylesheet" href="css/style.min.css">
  {% endblock %}
</head>
<body class="{{ bodyClass }}">
{% block sprite %}
  <div style="display: none;">
    {% include 'sprite_svg.twig' %}
  </div>
{% endblock %}

{% block header %}
  {% include 'header.twig' %}
{% endblock %}
<main>
{% block main %}{% endblock %}
</main>

{% block footer %}
  {% include 'footer.twig' %}
{% endblock %}


{% block scripts %}
  <script src="js/vendor.min.js"></script>
  <script src="js/main.min.js"></script>
{% endblock %}
</body>
</html>
